In [52]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression


from sklearn.metrics import mean_squared_error

In [32]:
jan_data=pd.read_parquet('yellow_tripdata_2022-01.parquet', engine='pyarrow')
jan_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [33]:
jan_data.shape

(2463931, 19)

In [34]:
jan_data.tpep_dropoff_datetime=pd.to_datetime(jan_data.tpep_dropoff_datetime)
jan_data.tpep_pickup_datetime=pd.to_datetime(jan_data.tpep_pickup_datetime)

In [35]:

jan_data['duration'] = jan_data.tpep_dropoff_datetime - jan_data.tpep_pickup_datetime

In [36]:
jan_data.duration = jan_data.duration.apply(lambda td: td.total_seconds() / 60)

In [37]:
jan_data["duration"].std()

46.44530513776802

In [38]:
jan_data["duration"].describe()

count    2.463931e+06
mean     1.421220e+01
std      4.644531e+01
min     -3.442400e+03
25%      6.316667e+00
50%      1.018333e+01
75%      1.616667e+01
max      8.513183e+03
Name: duration, dtype: float64

In [61]:
jan_data_drop_out = jan_data[(jan_data.duration >= 1) & (jan_data.duration <= 60)]

In [62]:
jan_data_drop_out.shape[0]/jan_data.shape[0]*100

98.27547930522405

In [63]:
categorical = ['PULocationID', 'DOLocationID']
#numerical = ['trip_distance']

jan_data_drop_out[categorical] = jan_data_drop_out[categorical].astype(str)
train_dicts = jan_data_drop_out[categorical].to_dict(orient='records')

C:\Users\Mohamed\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [64]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [65]:
X_train

<2421440x515 sparse matrix of type '<class 'numpy.float64'>'
	with 4842880 stored elements in Compressed Sparse Row format>

In [66]:

target = 'duration'
y_train = jan_data_drop_out[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

6.98619013596233

In [67]:
feb_data=pd.read_parquet('yellow_tripdata_2022-02.parquet', engine='pyarrow')
feb_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25

In [68]:
feb_data.tpep_dropoff_datetime=pd.to_datetime(feb_data.tpep_dropoff_datetime)
feb_data.tpep_pickup_datetime=pd.to_datetime(feb_data.tpep_pickup_datetime)
feb_data['duration'] = feb_data.tpep_dropoff_datetime - feb_data.tpep_pickup_datetime
feb_data.duration = feb_data.duration.apply(lambda td: td.total_seconds() / 60)
feb_data_drop_out = feb_data[(feb_data.duration >= 1) & (feb_data.duration <= 60)]
categorical = ['PULocationID', 'DOLocationID']


feb_data_drop_out[categorical] = feb_data_drop_out[categorical].astype(str)
val_dicts = feb_data_drop_out[categorical].to_dict(orient='records')

X_val = dv.transform(val_dicts)
target = 'duration'
y_val = feb_data_drop_out[target].values

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

C:\Users\Mohamed\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

7.786389517048026